PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=weshare

# Clé API BSCScan (Optionnel mais recommandé pour les dépôts)
BSCSCAN_API_KEY=
PEXELS_API_KEY=VOTRE_CLE_PEXELS_ICI

# Configuration Blockchain BSC (pour les retraits automatiques en temps réel)
BSC_PROVIDER_URL=https://bsc-dataseed.binance.org/
PLATFORM_PRIVATE_KEY=VOTRE_CLE_PRIVEE_ICI
